/* Global */
*,
*::after,
*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li
{
    list-style-type: none;
}
body,
input,
a,
a:active
{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}
.btn
{
    padding: .6em 1em;
    border-radius: 4px;
}
/* Navbar */
nav
{
    padding: 6px;
    height: 60px;
}
ul
{
    height: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
}
ul li
{
    margin: 8px;
}
ul a
{
    text-decoration: none;
    cursor: pointer;
}
.hoverUnderline:hover
{
    text-decoration: underline;
}
.googleAppsTooltip
{
    position: relative;
    text-align: center;
}
.googleAppsTooltip::after{
    content: attr(tooltip);
    display: block;
    width: max-content;
    text-align: center;
    position: absolute;
    top: 155%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: rgba(0,0,0,.77);
    color: #fff;
    padding: .25rem .55rem;
    font-size: 11.5px;
    display: none;
    transition: .5s ease-in-out;
}
.googleAppsTooltip:hover::after
{
    display: block;
}
.googleAppsIcon
{
    --size: 24px;
    height: var(--size);
    width: var(--size);
    fill: #5f6368;
}
.googleAppsIcon:hover
{
    --color: hsl(213, 5%, 89%);
    background-color: var(--color);
    outline: 8px solid var(--color);
    border-radius: 50%;
}
.navBtn
{
    color: #fff;
    background-color: #1a73e8;
}
/* Google logo */
.logoWrapper
{
    height: 172px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.googleLogo
{
    display: block;
    height: 92px;
}
/* Form */
.formWrapper{
    margin: 10px;
    padding: 20px;
    height: 160px;
}
.formWrapper form
{
    width: 80%;
    margin: 0 auto;
}
.searchBar
{
    max-width: 584px;
    width: 100%;
    height: 44px;
    border: 1px solid hsl(220, 10%, 89%);
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 1em;
}
.searchBar:hover
{
    box-shadow: 0 0 5px hsl(220, 10%, 69%);
    border-color: transparent;
}
.searchIcon
{
    width: 24px;
    color: hsl(220, 10%, 59%);
}
.microIcon
{
    width: 28px;
    cursor: pointer;
}
.searchInput
{
    width: 100%;
    border: none;
    height: 34px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    outline: none;
    margin: 0 8px;
}
.fa-keyboard
{
    cursor: pointer;
    margin-right: 8px;
}
.searchBtnWrapper
{
    margin: 0 auto;
    width: max-content;
    margin-top: 18px;
}
.searchBtn
{
    background-color: hsl(210, 17%, 97%);
    border: none;
    margin: 11px 4px;
}
.searchBtn:focus
{
    border: 1px solid #4285f4;
    outline: none;
}
.searchBtn:hover
{
    box-shadow: 0 0px 1px rgba(0, 0, 0, .7);
}